* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #0e0e0e;
    color: #eaeaea;
    font-family: 'Orbitron', sans-serif;
}

header{
    font-size:3rem;
}

nav {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.9);
}

nav a {
    color: #00ffd5;
    text-decoration: none;
    padding: 8px 14px;
    border-radius: 6px;
}

nav a:hover {
    background: #00ffd5;
    color: #000;
}

.main>section {
    min-height: 100vh;
    padding: 80px 60px;
    border-bottom: 1px solid #222;
}

h2 {
    font-size: 2.2rem;
    border-left: 6px solid #00ffd5;
    padding-left: 16px;
    margin-bottom: 40px;
}

h3 {
    color: #b0fff0;
    margin-bottom: 20px;
}


.tool-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
}


.tool-card {
    background: #151515;
    border-radius: 14px;
    padding: 20px;
    border: 1px solid #222;
}

.tool-card img {
    width: 100%;
    height: 180px;
    object-fit: contain;
    display: block;
}

.tool-card img.dark {
    background: #fff;
    padding: 12px;
    border-radius: 8px;
}

.tool-card h4 {
    margin: 8px 0;
    color: #fff;
}

.tool-card p {
    font-size: 0.9rem;
    color: #bbb;
}

.tool-card:hover {
  transform: translateY(-6px);
  transition: transform 0.2s ease;
}


.tool-links {
    margin-top: 12px;
    display: flex;
    gap: 10px;
}

.tool-links a {
    background: #00ffd5;
    color: #000;
    padding: 6px 12px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 0.85rem;
}

